/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

/* Wildcard selector */

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


/* Body general styles */
body {
min-height: 100vh;
display: flex;
flex-direction: column;
color: darkslategray;
font-family: 'Noto Serif JP', serif;
}

/* Header */
header {
    background-color: darksalmon;
}

header > h1 {
    font-family: 'Neucha';
}
/* Main */
main {
    background-color: darkseagreen;
    /* make main element take up surplus space */
    flex: 1 0 auto;
}
/* Footer */

footer {
    background-color: lavender;
}

