
/*google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

/* Wildcard selector */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Body general styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: darkslategray;
    font-family: 'Noto Serif JP', sans-serif;
}


/* Header */
header{
    background: #ffff;
    padding: 10px 10px 70px 10px;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100px;
    box-shadow: 0 30px 20px -20px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    padding: 1rem 2rem 1rem 4rem;
    display: flex;
    justify-content: center;
    font-family: 'Neucha', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
    text-align: center;
}

#logo>i {
    display: none;
}

nav {
    position: absolute;
    background-color: #ffff;
    width: 100%;
    right: 10px;
    box-shadow: 0 30px 20px -20px #3a3a3a;
    padding: 20px 10px 20px 0;
    display: none;
    top: 100%;
}

#nav-bar {
    list-style-type: none;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* For underlineing buttons on navigationbar */

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* Nav-toggle (Inspired and created together with the Love Running project. */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle {
    font-size: 30px;
    color: #3a3a3a;
}

/* Main */

main {
    /* make main element take up surplus space */
    flex: 1 0 auto;
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
    background: url('../images/dots-background.webp') no-repeat center center/ cover cornsilk;
}


/*Homepage*/

main h1 {
    font-family: 'Neucha', serif;
    padding-top: 100px;
}

/*All pictures on homepage and their border*/

#picture-border-peeking-dog {
    background: url(../images/peeking-dog.jpg) no-repeat center /cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
}

#picture-peeking-dog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Pictures are only set to work on bigger screens*/

#picture-border-dog-with-lollipop {
    display: block;
}

#picture-dog-with-lollipop {
    display: block;
}

#picture-white-dog-cupcake {
    display: block;
}

#picture-border-white-dog-cupcake {
    display: block;
}

#picture-two-dogs-with-party-hats {
    display: block;
}

#picture-border-two-dogs-with-party-hats {
    display: block;
}

/* ul on homepage*/

#spoil-your-dog,
h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Neucha', serif;
    text-transform: uppercase;
    flex-direction: column;
}

#spoil-your-dog-list li {
    font-family: 'Neucha', serif;
    font-size: 120%;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    line-height: 40px;
}

/*Contactpage*/


/* Contact form */

#form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

#form-content > p{
    max-width: 500px;
}

#input-elements, #form-content{
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255, 0.4);
    font-size: 110%;
}


/*End contact-form*/

#picture-french-bulldog {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#picture-border-french-bulldog {
    background: url(../images/french-bulldog.jpg) no-repeat center /cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
}

/*map*/

#map{
    display: flex;
    justify-content: center;
}
#map > iframe{
display: flex;
justify-content: center;
border-radius: 30px;    
height: 400px;
width: 400px;    
margin-top: 30px;
max-width: 500px;
max-height: 500px;
}

/* About us-page */

#about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

/*Headline*/

#welcome-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

/*opeing-times*/

#opening-box {
    margin-bottom: 10px;
    line-height: 15px;
    max-width: fit-content;
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 30px 10px 10px 10px;
}

/* text favorite guests*/
#border {
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    align-content: center;
    padding-top: 50px;
    padding: 50px 40px 50px 40px;
}

#about-text {
    margin-top: 50px;
    font-size: 90%;
    line-height: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Second section: about page: How it started... */

#presentation-of-founder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 90%;
}

#picture-border-my-dog {
    background: url(../images/mydog.jpg) no-repeat center /cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    max-width: 500px;
    max-height: 500px;
    margin-top: 10px;
}

#presentation-text {
    margin-top: 50px;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 20px;
    line-height: 2rem;
}

/*Schedule*/

#weekly-activites {
    display: flex;
    justify-content: center;
}

#calander {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.calendar-days {
    background-color: rgb(255, 255, 255, 0.6);
    padding: 30px 10px 50px 10px;
    text-align: center;
    height: 220px;
    width: 220px;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* Footer */

footer {
    background-color: rgb(176, 176, 232);
    padding-top: 10px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#footer-links {
    list-style-type: none;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 150%;
    color: black;
}


/* Media query for tablets and larger (768px and up */
@media screen and (min-width: 768px) {
    /* Header*/



    /*homepage*/
.intro-text>h1 {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    padding: 20px 70px;
    flex-direction: column;
    font-size: 150%;
    line-height: 4rem;
}

nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 20px;

}

.nav-toggle {
    display: none;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    }

#nav-bar li {
    padding-left: 20px;
}

#logo i {
     display: contents;
}

.intro-text {
        font-size: 150%;
    }

#spoil-your-dog, h3 {
    font-size: 150%;
}

#picture-peeking-dog {
    display: flex;
    justify-content: center;
    z-index: 1;
}

    /* Pictures unblocked for bigger screens*/

#picture-border-peeking-dog {
    background: url(../images/peeking-dog.jpg) no-repeat center /cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    z-index: 2;
    }

#picture-border-dog-with-lollipop {
    background: url(../images/dog-with-lollipop.jpg) no-repeat center /cover;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    display: block;
    z-index: 1;
    }

#picture-white-dog-with-cupcake {
    display: flex;
    justify-content: center;
    z-index: 3;
    }

#picture-border-white-dog-with-cupcake {
    background: url(../images/white-dog-with-cupcake.jpeg) no-repeat center /cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
}

#picture-border-two-dogs-with-party-hats {
    background: url(../images/two-dogs-with-party-hats.jpg) no-repeat center /cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px;
}

#picture-two-dogs-with-party-hats {
    display: flex;
    justify-content: center
}
    /* About-page min 768px */

#about-section {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    font-size: 110%;
}

#welcome-text {
    display: flex;
    justify-content: start;
    font-size: 200%;
    padding-left: 100px;
    line-height: 3rem;
    margin-left: 300px;
    }

#bulldog-puppy-sitting-wooden-table {
    background: url(../images/bulldog-puppy-sitting-wooden-table.jpg) no-repeat center /cover;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    z-index: 2;
    margin-top: 300px;
    margin-right: 400px;
}

#border-bulldog-puppy-sitting-wooden-table {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#opening-box {
    width: 300px;
    height: 300px;
    padding: 40px;
    padding-top: 80px;
    line-height: 1rem;
    margin-right: 300px;
    z-index: 1;
}

#border {
    width: 400px;
    height: 400px;
    align-content: center;
    padding-top: 150px;
    padding: 120px 10px 150px 10px;
    margin-right: 500px;
}

#presentation-of-founder {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    margin-bottom: 100px;
    margin-left: 100px;
}

#picture-border-my-dog {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

#presentation-text {
    width: 600px;
    height: 600px;
    line-height: 50px;
    padding: 90px;
    font-size: 100%;
    border-radius: 50%;
}

#presentation-text > p {
    line-height: 2rem;
}

#calendar {
    text-align: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.calander-days {
     margin-right: 50px;
}

    /* end about page*/

    /* homepage screens min 768px */

#pictures-dogs-bigscreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     margin-top: 5rem;
}


#spoil-your-dog-list {
    line-height: 100px;
}

    /*Form screens min 768px*/

    /*Hover function in form*/

.submit-button:hover,
.text-area:hover,
.text-input:hover {
    border-color: rgb(224, 175, 179);
}

.home-hover:hover {
    background-color: rgb(224, 175, 179);
}

.about-hover:hover {
    background-color: rgb(224, 175, 179);
}

.contact-hover:hover {
        background-color: rgb(224, 175, 179);
}

    /* To make footer socialmedia icons bigger*/
#footer-links {
    font-size: 300%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px 0 50px;
}
}

@media screen and (min-width: 900px) {

.intro-text {
    font-size: 300%;
}


        /*About*/

#presentation-of-founder {
    display: flex;
    flex-direction: row;
}


#picture-border-my-dog {
    width: 350px;
    height: 350px;
}

#presentation-text {
    height: 600px;
    width: 600px;
    padding: 80px;
    font-size: 90%;
    line-height: 1.5rem;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255, 0.6);
}

#calendar {
    text-align: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.calander-days {
    margin-right: 50px;
}            
}
