/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

/* Wildcard selector */

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


/* Body general styles */
body {
min-height: 100vh;
display: flex;
flex-direction: column;
color: darkslategray;
font-family: 'Noto Serif JP', sans-serif;
}

/* Header */
header {
    background-color: #ffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 30px 20px -20px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;


}

header a {
    text-decoration: none;
    color: inherit;

    
}
#logo{
    font-size: xx-large;
    
}

h1 {
    font-family: 'Neucha', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

nav{
    position: absolute;
    background-color: #ffff;
    width: 100%;
    left: 0;
    box-shadow: 0 30px 20px -20px #3a3a3a;
    padding: 20px;
    display: none;
    top: 100%;

}

#nav-bar {
    list-style-type: none;
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 4px;
 
}

#nav-bar li{
    margin-bottom: 20px;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle{
    display: none;
    
}

.nav-toggle{
    font-size: 30px;
}
/* Main */
main {
    background-color: darkseagreen;
    /* make main element take up surplus space */
    flex: 1 0 auto;
    margin-top: 50px;
}
/* Footer */

footer {
    background-color: lavender;
    padding: 20px;
}

#footer-content {
    background-color: #3a3a3a;
}

#footer-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    letter-spacing: 2px;

}
 
/* Media query for tablets and larger (768px and up */
@media screen and (min-width: 768px) {
    /* Header*/
    nav { 
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 20px;

    }

.nav-toggle{
    display: none;
}

#nav-bar {
    display: flex;
    flex-direction: row;
   
}

#nav-bar li{
    padding-left: 20px;
}



}
    


